html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */

*,
*::before, 
*::after{
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.container {
    max-width: 1400px;
    margin: 0px 20px;
    padding: 0px 120px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

.header {
    width: 100%;
    padding: 24px 150px;
}

.header img {
    width: 64px;
    padding-top: 16px;
}
.header h1 {
    font-size: 40px;
    padding-left: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.header-nav a{
    text-decoration: none;
    margin-left: 60px;
    color: black;
    font-weight: 700;
}
.header-nav a:hover{
    color: #69C6BA;
}

/* Section-1 */

.section-1 {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    text-align: center;
    align-items: center;
}


.section-1 h2 {
    color: #F5F5F5;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 90px;
    font-weight: 600;
}
.section-1 img{
    padding-top: 8px;
}
.section-1 p{
    color: white;
    font-size: 32px;
    padding-top: 8px;
    padding-bottom: 15px;
}
.down-arrow-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #69C6BA;
    margin: 0 auto;
}
.down-arrow-circle i{
    color: white;
    font-size: 24px;
}
.circle-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-form {
    width: 60%;
    height: 260px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: white;
    text-align: left;
    padding: 24px 36px;
}

.left-col {
    width: 40%;
}
.form-control{
    display: block;
    margin-top: 12px;
    padding: 12px 12px;
    border: 0;
    outline: none;
}
.form-control-1 {
   width: 150px;
   display: block;
   margin-top: 12px; 
   padding: 12px 12px;
    border: 0;
    outline: none;
}
.form-control-2 {
    width: 90px;
    display: block;
    margin-top: 12px; 
    padding: 12px 12px;
     border: 0;
     outline: none;
 }
.checkin-row {
    margin-top: 42px;
}
label {
    font-size: 14px;
    font-weight: 700;
    color: #24272C
}
.flex-form{
    display: flex;
    justify-content: space-between;
}
.right-col {
    width: 50%;
}

.availabilty-btn {
    text-align: center;
    width: 100%;
    background-color: #69C6BA;
    padding: 16px 16px;
    border: 0;
    outline: 0;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    margin-top: 64px;
}

/* Section 2 */

.section-2 {
    width: 100%;
    background-color: #EFEFEF;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section-2-box {
    width: 63%;
    margin: 0 auto;
}
h3{
    font-size: 32px;
    text-transform: uppercase;
   
    color: #22252A;
}
.section-2-box strong {
    font-weight: 700;
}
.section-2-box p{
    font-size: 14px;
    color: #6C6D72;
    padding-top: 24px;
}

.explore-btn {
    width: 200px;
    height: 50px;
    padding: 18px 18px;
    margin: 0 auto;
    background-color: #69C6BA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

}
.explore-btn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* Section 3 */
.section-3 {
    width: 100%;
    position: relative;
}
.image-box{
    width: 50%;
}
.image-box img {
    width: 100%;
}
.europe-box {
    background-color: #69C6BA;
    width: 49%;
    position: absolute;
    margin-left: 670px;
    
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
}
.arrow-flex{
    display: flex;
    position: absolute;
    margin-left: 566px;
}
.left-arrow {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}
.right-arrow {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-arrow, .right-arrow i{
    color: #E0DFDD;
    font-size: 20px;
}
.heading {
    font-size: 36px;
    color: white;
    font-weight: 500;
    padding-bottom: 12px;
    padding-left: 64px;

}
.content {
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding-left: 64px;
    padding-right: 32px;
}
.reading-btn {
    padding: 18px 18px;
    background-color: white;
    width: 200px;
    height: 50px;
    margin-left: 64px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.reading-btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: #69C6BA;
}

/* Section-4 */

.section-4 {
    width: 100%;
    position: relative;
    margin-top: -6px;
}

.image-box-1{
    width: 50%;
    margin-left: 50%;
}
.image-box-1 img {
    width: 100%;
}
.asia-box {
    background-color: #C66995;
    width: 49%;
    position: absolute;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: 64px;
}

.arrow-flex-1{
    display: flex;
    position: absolute;
    margin-left: 770px;
}

.asia-btn {
    padding: 18px 18px;
    background-color: white;
    width: 200px;
    height: 50px;
    margin-left: 64px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asia-btn a{
    text-decoration: none;
    color: #C66995;
    text-transform: uppercase;
}

/* Section-5 */

.section-5 {
    width: 100%;
    position: relative;
    margin-top: -6px;
}

/* Section-6 */

.section-6 {
    width: 100%;
    background-color: #69C6BA;
    margin-top: -6px;
    
}
.continents {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.continents p {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.asia {
    width: 200px;
    background-color: #C66995;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.asia p{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}

/* Section-7 */

.section-7 {
    width: 100%;
    padding: 60px 0;
    padding-top: 24px;
}
.row {
    width: 70%;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 36px;
}
.row img {
    height: 176px;
    padding-top: 4px;
    object-fit: cover;
}
.pricing-box {
    height: 176px;
    width: 300px;
    background-color: #69C6BA;
    text-align: center;
    margin-top: 4px;
}
.row-content {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);;
    height: 100%;
    
}
.curve {
    position: absolute;
    height: 180px;
    margin-left: 620px;
    
}
.curve img {
    height: 100%;
    margin-bottom: 4px;
}
.hotel p {
    font-size: 24px;
    color: #22252A;
    font-weight: 600;
    padding-left: 32px;
    padding-top: 20px;
    text-transform: uppercase;
}

.city p{
    color: #C66995;
    font-size: 14px;
    font-weight: 700;
    padding-left: 32px;
    padding-right: 24px;
    padding-top: 4px;
}

.hotel-content {
    font-size: 12px;
    color: grey;
    font-weight: 500;
    padding-left: 32px;
    padding-right: 24px;
    padding-top: 16px;
}
.price {
    font-size: 32px;
    color: white;
    font-family: 700;
}
.price p {
    padding-top: 42px;
    
}
.reading a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding-left: 24px;
    font-size: 14px;
}

.show-btn {
    padding: 18px 18px;
    background-color: #69C6BA;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.show-btn a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* .section-8 */

.section-8 {
    width: 100%;
}

.map-row{
    position: relative;
}

.bottom-form {
    width: 35%;
    background-color: white;
    position: absolute;
    margin-left: 55%;
    padding: 24px 18px;
    
}
.form-first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-first-row input {
    width: 48%;
    padding: 12px 0;
    padding-left: 10px;
    margin-right: 4px;
    background-color: #f0ecec;
    outline: 0;
    border: 0;
    margin-right: 6px;
    
}
.form-second-row{
    width: 100%;

}
.form-second-row input {
    width: 99%;
    padding: 12px 0;
    padding-left: 10px;
    margin-right: 4px;
    background-color: #f0ecec;
    outline: 0;
    border: 0;
    margin-top: 16px;
}
.textarea {
    width: 99%;
    outline: 0;
    border: 0;
    margin-top: 16px;

}
.textarea textarea {
    background-color: #f0ecec;
    outline: 0;
    border: 0;
    margin-top: 16px;
    padding-left: 16px;
    padding-top: 12px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;

}
.send-message {
    width: 99%;
    padding: 12px 12px;
    outline: 0;
    border: 0;
    background-color: #69C6BA;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
}

/* Footer */

.footer {
    width: 100%;
    padding: 36px 0;
    text-align: center;
    background-color: #69C6BA;
    color: white;
    font-size: 14px;
}
